# Archivos de entorno de desarrollo
02-NodeJs/node_modules/
02-NodeJs/package-lock.json
02-NodeJs/package.json

# Archivos pendientes de revisión
02-NodeJs/017-FetchAPI.js
02-NodeJs/018-Modules.js
02-NodeJs/019-ErrorHandling.js

# Archivos de datos
users.json